:root {
    --primary-color: #24292e;
    --color-orange: #F9826C;
    --color-green: #2EA44F;
    --text-color: #24292e;
    --secondary-text-color: #586069;
    --svg-fill: #CACED2;
    --svg-active-fill: #31363A;
    --color-white: #fff;
    --header-border-color: #444d56;
    --color-blue: #0366D6;

    /* Font Weight */
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;

    /* Font Size */
    --font-size-7: calc(5px + (7 - 5) * ((100vw - 320px) / (1440 - 320)));
    --font-size-8: calc(6px + (8 - 6) * ((100vw - 320px) / (1440 - 320)));
    --font-size-9: calc(7px + (9 - 7) * ((100vw - 320px) / (1440 - 320)));
    --font-size-10: calc(8px + (10 - 8) * ((100vw - 320px) / (1440 - 320)));
    --font-size-11: calc(9px + (11 - 9) * ((100vw - 320px) / (1440 - 320)));
    --font-size-12: calc(10px + (12 - 10) * ((100vw - 320px) / (1440 - 320)));
    --font-size-13: calc(11px + (13 - 11) * ((100vw - 320px) / (1440 - 320)));
    --font-size-14: calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320)));
    --font-size-15: calc(13px + (15 - 13) * ((100vw - 320px) / (1440 - 320)));
    --font-size-16: calc(14px + (16 - 14) * ((100vw - 320px) / (1440 - 320)));
    --font-size-17: calc(15px + (17 - 15) * ((100vw - 320px) / (1440 - 320)));
    --font-size-18: calc(16px + (18 - 16) * ((100vw - 320px) / (1440 - 320)));
    --font-size-19: calc(17px + (19 - 17) * ((100vw - 320px) / (1440 - 320)));
    --font-size-20: calc(18px + (20 - 18) * ((100vw - 320px) / (1440 - 320)));
    --font-size-24: calc(22px + (24 - 22) * ((100vw - 320px) / (1440 - 320)));
    --font-size-26: calc(24px + (26 - 22) * ((100vw - 320px) / (1440 - 320)));
    --font-size-32: calc(30px + (32 - 30) * ((100vw - 320px) / (1440 - 320)));
}
html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}
body {
    box-sizing: border-box;
    font-family: sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 121.6rem;
    margin: 0 auto;
}

header {
    background-color: #000;
    padding: 1rem 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    width: 4rem;
    height: 4rem;
}
.logo svg path {
    fill: var(--color-white);
}
.inner-index-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.username-box {
    display: flex;
    align-items: center;
}
.username-box input {
    background-color: transparent;
    border: 1px solid #CACED2;
    padding: .5rem 0 .5rem 1rem;
    margin-right: .5rem;
    color: var(--color-white);
}
.username-box button {
    padding: .5rem 1rem;
    background-color: var(--color-green);
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;
    color: var(--color-white);
}
main {
    width: 100%;
    height: 91vh;
    background-color: var(--primary-color);
    display: flex;
}
h1 {
    text-align: center;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    color: var(--color-white);
}
.green {
    color: var(--color-green);
}

@media screen and (max-width: 600px) {
    main {
        height: auto;
        padding: 2rem 0;
    }
}